/*.

  ██████  ▄████▄   ██▀███  ▓█████ ▄▄▄       ███▄ ▄███▓▓█████  ██▀███  
▒██    ▒ ▒██▀ ▀█  ▓██ ▒ ██▒▓█   ▀▒████▄    ▓██▒▀█▀ ██▒▓█   ▀ ▓██ ▒ ██▒
░ ▓██▄   ▒▓█    ▄ ▓██ ░▄█ ▒▒███  ▒██  ▀█▄  ▓██    ▓██░▒███   ▓██ ░▄█ ▒
  ▒   ██▒▒▓▓▄ ▄██▒▒██▀▀█▄  ▒▓█  ▄░██▄▄▄▄██ ▒██    ▒██ ▒▓█  ▄ ▒██▀▀█▄  
▒██████▒▒▒ ▓███▀ ░░██▓ ▒██▒░▒████▒▓█   ▓██▒▒██▒   ░██▒░▒████▒░██▓ ▒██▒
▒ ▒▓▒ ▒ ░░ ░▒ ▒  ░░ ▒▓ ░▒▓░░░ ▒░ ░▒▒   ▓▒█░░ ▒░   ░  ░░░ ▒░ ░░ ▒▓ ░▒▓░
░ ░▒  ░ ░  ░  ▒     ░▒ ░ ▒░ ░ ░  ░ ▒   ▒▒ ░░  ░      ░ ░ ░  ░  ░▒ ░ ▒░
░  ░  ░  ░          ░░   ░    ░    ░   ▒   ░      ░      ░     ░░   ░ 
      ░  ░ ░         ░        ░  ░     ░  ░       ░      ░  ░   ░     
         ░
         
Wm. Pollock 2018-2019

}*/
.row {
	margin: 0px;
}
.row .row {
	margin: 0px 0 25px 0px;
}
.row.actions div {
	padding: 0px;
}
.row .row div {
	text-align: center;
	padding: 5px;
}

.actions img {
    border-radius: 25px;
    box-shadow: 1px 1px #A9A9A9,
                2px 2px #787878, 
                3px 3px #696969, 
                4px 4px #606060, 
                5px 5px #505050, 
                6px 6px #404040                ;

              



    }

    .actions img.down, .actions.playing-server img.down
    {
      position: relative;
      box-shadow: none;
      left: +6px;
      top: +6px;
  }

.actions .playing-server img {
	-webkit-box-shadow: 0px 0px 56px 2px rgba(255,255,0,1);
	-moz-box-shadow: 0px 0px 56px 2px rgba(255,255,0,1);
	box-shadow: 4px 4px 4px black, 0px 0px 56px 3px #AF2, 0px 0px 40px 12px #AF2, 0px 0px 20px 4px #AF2;
	   
}
.actions .playing-client img {
    -webkit-box-shadow: 0px 0px 56px 2px #45ff22;
    -moz-box-shadow: 0px 0px 56px 2px #45ff22;
    box-shadow: 1px 1px #45ff22, 
                2px 2px #45ff22, 
                2px 3px #45ff22, 
                4px 4px #45ff22, 
                5px 5px #45ff22,
                5px 5px 5px 0px #45ff22, 
                0px 0px 56px 3px #45ff22, 
                0px 0px 40px 12px #45ff22, 0px 0px 20px 4px #45ff22;
}
